.r{
	text-align:right!important;
}
.c{
	text-align:center!important;
}
.l{
	text-align:left!important;
}
.j{
	text-align:justify!important;
}
.pull-left{
	float:left;
}
.pull-right{
	float:right;
}
.clear{
	clear:both;
}
.cleaner{
	display:block;
	clear:both;
	height:0;
	overflow:hidden;
	float:none;
}
.hide{
	display:none;
}
.block{
	display:block;
}
.img-circle {
	.border-radius(50%);
}
// xart
nav.more{
	margin:0 0 20px;
	text-align: right;
	a{
		.btn;
		&:after{
			.font-icon;
			position: relative;
			font-size: 20px;
			line-height: 1;
			content: '\e01b';
			margin: 0 0 0 10px;
		}
	}
}
table.normal{
	margin:0 0 20px 0;
	width:100%;
	background:#fff;
	th,td{
		padding:6px 8px;
		border:1px solid lighten(@color-primary,45%);
		font-weight:normal;
	}
	&.compact th,&.compact td{
		padding:2px 8px;
	}
	tr:nth-child(odd) td{
		background: lighten(@color-primary,60%);
	}
	th,thead td{
		font-weight:bold;
		color: #fff;
		font-weight: normal;
		background: lighten(@color-primary,30%)!important;
		a{
			color: #fff;
		}
	}
	tfoot td{
		color: #fff;
		background: lighten(@color-primary,35%)!important;
	}
}
table.info{
	margin:0 0 20px 0;
	td,th{
		padding:0 7px 0 0;
	}
}
form.normal{
	margin:0 0 20px 0;
	label{
		display:block;
		margin:0 0 10px 0;
		font-weight:bold;
	}
	.optgroup label{
		display:inline;
		font-weight:normal;
	}
	input[type=text],input[type=email],input[type=password],textarea,select{
		.border-radius(3px);
		position: relative;
		border: 1px solid lighten(@color-primary,50%);
		font-size: 15px;
		line-height: 18px;
		margin: 0 3px 5px 0;
		width: 198px;
		height: 18px;
		padding: 5px 10px;
		color: @color-primary;
		background: #fff;
		outline: 0;
	}
	input.input-mini{
		width:25px;
		padding-left:0;
		padding-right:0;
		text-align:center;
	}
	input.input-small{
		width:125px;
	}
	input.input-large{
		width:300px;
	}
	textarea{
		padding:10px;
		width:auto;
		height:auto;
	}
	select{
		width:auto;
		height:auto;
		padding:4px;
	}
	input[type=text]:hover,input[type=email]:hover,input[type=password]:hover,textarea:hover,select:hover,
	input[type=text]:focus,input[type=email]:focus,input[type=password]:focus,textarea:focus,select:focus{
		border-color: @color-primary;
	}
	.fileinputs{
		position:relative;
		overflow:hidden;
		display:inline-block;
		cursor:default;
		input.type-file{
			position:absolute;
			top: 0;
			right: 0;
			margin: 0;
			padding: 0;
			border: 0;
			width: 100%;
			height: 100%;
			z-index: 1;
			cursor: default;
			-webkit-opacity: 0;
			-moz-opacity: 0;
			opacity: 0;
			filter: alpha(opacity=0);
		}
	}
	.normal-button{
		.btn;
		padding: 0 20px;
	}
	a.normal-button{
		display:inline-block;
		text-decoration:none;
		line-height:28px;
	}
	.fileinputs:hover .normal-button,.normal-button:hover{
		.btn-hover;
	}
}
.search-results .highlight,.results .highlight{
	background: yellow;
	padding: 0 3px;
	color: @color-primary;
}
.pagehub{
	clear: both;
	text-align: center;
	padding: 20px 0;
	border-top: 1px solid lighten(@color-primary,50%);
	a,span{
		.btn;
		padding: 0;
		width: 26px;
		height: 26px;
		line-height: 26px;
	}
	span.pagenav{
		color: #fff;
		background: @color-link;
	}
	.pagenav-ico{
		opacity: 0.5;
		-moz-opacity: 0.5;
		filter: alpha(opacity=50);
		cursor: default;
	}
}
.clear-decor,.description_separator,.article_separator{
	clear: both;
	margin: 0 0 20px 0;
	height: 0;
	overflow: hidden;
	border-top: 1px dashed lighten(@color-primary,50%);
}
img.img-left,img[align=left]{
	float: left;
	margin: 0 15px 5px 0;
}
img.img-right,img[align=right]{
	float: right;
	margin: 0 0 5px 15px;
}
a.xeditorpopup img{
	padding: 3px;
	border: 1px solid @color-link;
}
a.xeditorpopup:hover img{
	border-color: @color-primary;
}
.mod_breadcrumbs ul{
	.reset-ul;
	margin: 0 0 20px;
	li{
		margin: 0 10px 0 0;
		padding: 0 0 0 16px;
		display: inline;
		color: @color-link;
		&:before{
			top: 3px;
			content: '\e0b0';
		}
	}
}
#system-message dt{
	display:none;
}
#system-message{
	.message{
		padding: 8px 14px;
		margin: 0 0 15px 0;
		background-color: lighten(@color-link,70%);
		border: 1px solid @color-link;
		color: @color-link;
		ul{
			.reset-ul;
			li{
				.reset-li;
			}
		}
	}
	.notice{
		background-color: lighten(orange,35%);
		border-color: darken(orange,15%);
		color: darken(orange,15%);
	}
	.warning,.error{
		background-color: lighten(red,45%);
		border-color: darken(red,5%);
		color: darken(red,5%);
	}
}
